name: publish-fn

on:
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout the code
      - name: Check out code
        uses: actions/checkout@v4

      # Set up .NET Core SDK
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'

      # Publish self-contained (choose RID to match your Function App OS)
      - name: Publish
        run: |
          dotnet publish ./ConfluenceChatRAG.Fn/ConfluenceChatRAG.Fn.csproj \
            -c Release \
            -r linux-x64 \
            --self-contained true \
            -o ./publish

      # Deploy to Azure
      - name: Deploy to Azure Function App
        uses: azure/functions-action@v1
        with:
          app-name: ${{ secrets.AZURE_FUNCTION_APP_NAME }}
          package: './publish'
          publish-profile: ${{ secrets.PP_CONFLUENCE_RAG_CHAT_FN }}
